{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Python Pro - Home
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron mt-2 mb-4 ">
                <h2>
                    Curso de Python com Luciano Ramalho
                </h2>

                <!--                Início Botão mercado pago -->
                <h4 class="mt-4">Matrículas abertas! Custo: R$1.000</h4>
                <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                        data-preference-id="244544100-ee357694-960e-4ae1-b5fd-cb5ed097cc43"
                        data-source="button"></script>
                <!--                Fim botão mercado pago-->

                <!--                <h4 class="mt-4">Entre na fila</h4>-->
                <!--                <form action="https://gmail.us6.list-manage.com/subscribe/post?u=6ba073b4e7531004425ba2d9b&amp;id=d6874d392b"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="row gy-2 gx-3 align-items-center" target="_blank" novalidate>-->
                <!--                    <div class="col-auto">-->
                <!--                        <label class="visually-hidden" for="mce-EMAIL">Email</label>-->
                <!--                        <input type="email" value="" class="form-control required" name="EMAIL" id="mce-EMAIL"-->
                <!--                               placeholder="example@email.com">-->
                <!--                    </div>-->
                <!--                    <div class="col-auto">-->
                <!--                        <label class="visually-hidden" for="mce-FNAME">Name</label>-->
                <!--                        <input type="text" value="" class="form-control" name="FNAME" id="mce-FNAME"-->
                <!--                               placeholder="Seu nome">-->
                <!--                    </div>-->

                <!--                    &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
                <!--                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"-->
                <!--                                                                                              name="b_6ba073b4e7531004425ba2d9b_d6874d392b"-->
                <!--                                                                                              tabindex="-1"-->
                <!--                                                                                              value=""></div>-->
                <!--                    <div class="col-auto">-->
                <!--                        <div class="clear"><input type="submit" value="Enviar" name="subscribe"-->
                <!--                                                  id="mc-embedded-subscribe" class="btn btn-primary"></div>-->
                <!--                    </div>-->
                <!--                </form>-->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-default">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" class="img-thumbnail float-start me-2" alt="Foto de Luciano
                            Ramalho">
                        Luciano Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e
                        autor do
                        Livro <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Python
                        Fluente</a>. Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                        Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
                        Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                        Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a
                        criar a Associação Python Brasil e foi seu presidente. É membro da Python Software Foundation e
                        fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}